<ul class="nav">
  <li class="nav-item">
    <%= link_to 'Workers', workers_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Hospitals', root_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'New worker', new_worker_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'New hospital', new_hospital_path, class: "nav-link" %>
  </li>
</ul>